html{
	height: 100%;
	width: 900px;
	background-color: white;
	font-family: sans-serif;	
}

#banner{
	text-align: center;
	float: center;
	color: red;
}

#nav{
	background-color: white;
	padding: 20px;
	margin: 10px;
	text-align: center;
	float: center;
}

#container{
margin-bottom: 10px;
margin-left: 85px;
margin-right: 10px;
margin-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
float: center;
width: 90%;
border: 2px solid black;
}

ul{
	display: inline;
	padding: 5px;
}

#main{
	width: 600px;
	margin-left: 100px;
}

#pic{
	text-align: center;
	float: center;
}

#my-button{
	padding: 12px 12px;
	border: 2px solid aqua;
	color: purple;
	background-color: black;
	text-decoration: white;
	display: inline-block;
	border-radius: 5px;
}
 .my-botton:hover{
 	margin: 5px 0 0 2px;
 }